body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #FFE6D7;
  font-size: 18px;
  font-weight: 500;
  color: #446381;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-link {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.menu__list-link:hover {
  color: #EB8382;
}

.menu__button {
  background: linear-gradient(137deg, #4499d9 3%, #7367be 100%);
  padding: 13px 14px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.banner {
  padding-bottom: 150px;
}
.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__info {
  margin-right: 100px;
}
.banner__subtitle {
  font-size: 23px;
  color: #446381;
  font-weight: 500;
  margin-bottom: 25px;
}
.banner__subtitle::after {
  content: url("../images/banner-arrow.svg");
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}
.banner__title {
  font-weight: 700;
  font-size: 68px;
  max-width: 471px;
}
.banner__title span {
  font-weight: 600;
  font-size: 68px;
  color: #EB8382;
  padding-top: 30px;
}
.banner__text {
  color: #826F8C;
  max-width: 518px;
  padding: 25px 0;
  line-height: 29px;
}
.banner__btn {
  background: linear-gradient(137deg, #4499d9 3%, #7367be 100%);
  padding: 13px 14px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
.banner__close {
  margin-left: 30px;
  margin-top: 30px;
}
.banner__dots-img {
  position: absolute;
  top: 50%;
  right: 7%;
}

.about {
  margin-bottom: 150px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.about__item {
  margin-left: 50px;
  position: relative;
}
.about__item::after {
  content: url(../images/VR.svg);
  position: absolute;
  top: 64%;
  right: 20%;
}
.about__subtitle {
  font-size: 23px;
  color: #446381;
  font-weight: 500;
  margin-bottom: 25px;
}
.about__title {
  font-weight: 600;
  font-size: 68px;
  color: #EB8382;
  padding-top: 30px;
}
.about__text {
  color: #826F8C;
  max-width: 518px;
  padding: 25px 0;
  line-height: 29px;
}
.about__btn {
  background: linear-gradient(137deg, #4499d9 3%, #7367be 100%);
  padding: 13px 14px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.game {
  margin-bottom: 150px;
}
.game__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 40px;
  position: relative;
}
.game__subtitle {
  font-size: 23px;
  color: #446381;
  font-weight: 500;
  margin-bottom: 25px;
}
.game__title {
  font-weight: 600;
  font-size: 68px;
  color: #EB8382;
  padding-top: 30px;
}
.game__text {
  color: #826F8C;
  max-width: 518px;
  padding: 25px 0;
  line-height: 29px;
}
.game__text::after {
  content: url(../images/game-dots.svg);
  position: absolute;
  top: 77%;
  left: 37%;
  cursor: pointer;
}
.game__button {
  background: linear-gradient(137deg, #4499d9 3%, #7367be 100%);
  padding: 13px 14px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.plan {
  margin-bottom: 100px;
}
.plan__subtitle {
  font-size: 23px;
  color: #446381;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
}
.plan__title {
  font-weight: 600;
  font-size: 68px;
  color: #EB8382;
  padding-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}
.plan__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plan__item {
  background-color: #FBDACF;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 50px 0 rgba(132, 148, 205, 0.08);
          box-shadow: 0 20px 50px 0 rgba(132, 148, 205, 0.08);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  padding-right: 60px;
  position: relative;
}
.plan__item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#446381), to(#826f8c));
  background: linear-gradient(180deg, #446381 0%, #826f8c 100%);
  background-color: #09143C;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.plan__item:hover .plan__list-text {
  color: #fff;
}
.plan__item:hover .plan__item-title {
  color: #fff;
}
.plan__item:hover::after {
  content: url(../images/badge.svg);
  position: absolute;
  top: 4%;
  left: 82%;
}
.plan__item:hover::before {
  content: url(../images/plan-img.svg);
  position: absolute;
  top: 66%;
}
.plan__item-title {
  font-size: 32px;
  font-weight: 600;
  padding: 30px 0;
  margin-left: 45px;
}
.plan__price {
  font-size: 50px;
  font-weight: 700;
  color: #EB8382;
  margin-bottom: 30px;
  margin-left: 45px;
}
.plan__price span {
  font-size: 18px;
}
.plan__list {
  margin-left: 45px;
  margin-bottom: 45px;
}
.plan__list-text {
  padding-top: 15px;
  color: #826F8C;
}
.plan__list-text::before {
  content: url(../images/plan-calc.svg);
  margin-right: 13px;
}
.plan__btn {
  background: linear-gradient(137deg, #4499d9 3%, #7367be 100%);
  padding: 13px 14px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  margin-left: 47px;
  margin-bottom: 47px;
  padding-right: 80px;
  padding-left: 60px;
}

.footer hr {
  height: 1.5px;
  background-color: #816F8C;
  opacity: 0.5;
}
.footer__items {
  margin-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copy {
  font-size: 16px;
  color: #826F8C;
}

.menu__btn {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  display: none;
}

.menu__btn span {
  background-color: #fff;
  height: 2px;
}

@media (max-width: 1200px) {
  .banner__info {
    max-width: 400px;
    margin: 0 auto;
  }
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__img-item,
  .game__img,
  .banner__main-img {
    display: none;
  }
  .plan__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 648px) {
  .menu__list {
    position: absolute;
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #EB8382;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    gap: 30px 0;
  }
  .menu__list .menu__list-link {
    color: #fff;
  }
  .menu__list.menu__list--active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    float: right;
    position: relative;
    z-index: 10;
  }
  .menu__btn span {
    background-color: #1a6b8e;
  }
  .about {
    margin-bottom: 60px;
  }
  .about__inner {
    gap: 0;
  }
  .about__item {
    margin-left: 20px;
  }
  .game {
    margin-bottom: 50px;
  }
  .plan__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .banner__dots-img {
    display: none;
  }
  .about__title,
  .banner__title,
  .banner__title span,
  .game__title,
  .plan__title {
    font-size: 40px;
  }
  .game__text::after {
    content: "";
  }
  .footer__copy {
    font-size: 13px;
  }
  .game__inner {
    position: relative;
    margin-left: 20px;
  }
}